/* reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header > nav{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
nav > section > ul{
    list-style: none;
    display: inline-block
}
nav > section > ul > li >a{
    text-decoration: none;
    padding: 2%;
}
header > main{
    background-color: #b4d0e7;
    padding: 5% 15% 0%;
}
header > main >section{
    display: flex;
}
header > main > section >h1{
    font-size: 500%;
    padding-bottom: 6%;
}
li{
    display: inline-block;
    padding: 0rem 1rem;
}
.jumbotron{
    width: 28%;
}
.top-pd{
    padding-top: 10%;
}
.bottom-pd{
    padding-bottom: 12%;
}
main > article{
    width: 58%;
    margin: 0 auto;
}
h2{
    font-size: 230%;
}
.fatturazione{
    padding: 5% 0 4%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
.text-center{
    text-align: center;
}
.bg-blu{
    background-color: #0061ff;
    color: white;
}
button{
    border: none;
}
.tasti-interni{
    padding: 3%;
    width: 100%;
}
.data-cont{
    width: calc(92%/3);
    line-height: 200%;
    border: 1px solid;
    padding: 1% 2%;
    font-size: 81%;
    position: relative;
}
hr{
    position: absolute;
    left: 0%;
    width: 100%;
}
.micro-line{
    left: 6%;
    width: 15%;
}
article > section > div > h3{
    padding-top: 15%;
}
article > section > div > ul{
    padding: 14% 0%;
}
.team-border{
    border: 1px solid;
    margin-top: 12%;
    padding: 1%;
}
.team-border > hr{
    position: relative;
    left: -1%;
    width: 102%;
}
.wrap{
    flex-wrap: wrap;
}
.vantaggi{
    width: calc(92%/3);
}